.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.box-container {
  background-color: #ecf0f1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.box-logo {
  width: 70px;
}
.box-text {
  color: #000;
  display: block;
  font-weight: bold;
}


/* Float */
/* .box-container {
  background-color: #ecf0f1;
  padding-top: 1px;
}
.box-logo {
  width: 70px;
  float: left;
}
.box-text {
  color: #000;
  display: block;
  font-weight: bold;
} */
